.b-tl-1 {
  background-color: $cl1; padding:15px; color: #fff;   border-radius: 8px; position: relative; 
  .inner { max-width: 680px;}
  h3.ht { text-transform: uppercase;}
  

  @include min992 {
    padding: 30px 250px 30px 50px ;
    .btn { @include middleY; right: 50px;}
  }
  @include max991 {
    .btn { margin-top: 20px;}
  }


}



.b-tl-2 {
  background-color: $cl1; padding:15px; color: #fff;   border-radius: 8px; position: relative;
  .divtext {    background-color: rgba(255,255,255,0.17); padding: 15px ;  border-radius: 8px; position: relative;}
  .desc { max-width: 680px;}
  h3.ht { text-transform: uppercase; text-align: center;}

  @include min992 {
     padding: 30px 50px;
    .divtext {  padding: 20px 250px 20px 20px ;}
    .btn { @include middleY; right: 20px;}
  }
  @include max991 {
    .btn { margin-top: 20px;}
  }
}

.b-tl-3 {
  .inner { padding:15px;    border-radius: 8px; position: relative;  border: 0.5px solid #C3C3C3; }
  h3.ht { text-transform: uppercase;}
  .desc {  max-width: 780px; }
  @include min992 {
    .inner { padding: 30px 250px 30px 50px ;}
    .btn { @include middleY; right: 50px;}
  }
  @include max991 {
    .btn { margin-top: 20px;}
  }
}


.sec-hstt {
  text-align: center; background-color: $cl1;   color: #fff;  
  .inner { max-width: 800px; margin: 0 auto;}
}

.sec-pav {
  background-color: $cl1;   color: #fff; 
  h6 { margin-bottom: 10px;}

  .rowlabel {
    margin-bottom: 20px; display: block;
  }

  .input, .select  { border-radius: 8px; background-color: #4048DA; border: none; height: 48px; width: 100%; color: #fff;}  

  .widget-ketqua {
    height: calc(100% - 68px);   border-radius: 8px; background-color: #FFFFFF; margin-bottom: 20px;

    color: #333333;

  }


  .widget-title {   
    color: #FFFFFF; line-height: 25px; text-align: center;

    border-radius: 8px 8px 0 0; background-color: #8FD4FF; padding: 20px 15px;

  }
  .widget-content {   
     padding:25px 15px;
  }
  .result {height: 48px; border: 0.5px solid #C3C3C3;  border-radius: 8px; padding: 0 15px; line-height: 46px; color: $cl1; font-weight: 600; }

  .note { font-size: 14px;}

  @include min1200 { 
    .widget-content {   
      padding:35px 30px; 
    }
  }

}

.sec-cskh {
  background-color: $cl1;   color: #fff;  
  .single_video { border-radius: 8px; overflow: hidden;}
}

.sec-cskh-2 {
  color: #fff;  
  .single_video { border-radius: 8px; overflow: hidden;}
  .bgvideo {
    border-radius: 8px; overflow: hidden; padding: 40px;
  }
  @include max767 {
    .bgvideo { padding: 15px; }
  }
}

.sec-tuvan {
    box-shadow: 0 2px 17px 0 rgba(0,0,0,0.09);  overflow: hidden;
    form { max-width: 650px;}
    .input { width: 100%; margin-bottom: 20px;} 

    @include max767 {
      img.br { display: none;}
    }
}


.accodion { @include accodionCss;}  
.accodion-1 { @extend %accodionCss-1;}  
.accodion-2 { @extend %accodionCss-2;}       


.accodion-3 { 
  margin:0;
  .accodion-tab {
    margin-bottom: 30px; 
    &>[class*="-title"]{
      padding:25px 25px 25px 56px;      font-weight: 600;      color: #333333;      margin: 0;
      border-radius: 8px; background-color: #F6F6F6;  
      .triangle { 
        width: 26px; height: 26px; line-height: 26px; border-radius: 100%; 
        background-color: $cl1; color: #fff; left: 15px; right: auto; text-align: center; }
    }
    &>[class*="-content"] .inner{      padding: 10px 0 0;      }
    input:checked {
      + [class*="-title"] { 
        .triangle  {
          i:before { content: "\e931"; }
        }         
      }
    }
    @include min992 {
      &>[class*="-title"]{
        padding-left:  76px;
        .triangle { width: 36px; height: 36px;  left: 20px;  line-height: 36px;}
      }
      &>[class*="-content"] .inner {    }
    } 
  }
}



.sec-img-text {
  
  @include min1200 {
    .row {
      &.end {
        .divtext { padding-right: 80px;}  
      }      
      &:not(.end) {
        .divtext { padding-left: 80px;}
      }
    }
  }

  @include max991 {
    .img, .single_video {  margin-bottom: 30px; }
    .desc { max-width: none !important;}

  }
}

.sec-img-svg {
  .item { text-align: center; display: block;}
  .img {
    margin-bottom: 15px; 
    img { height: 46px;}
  }
  .title { text-transform: uppercase; margin-bottom: 10px;}
  .desc {
    @include fixHeightPro(14px, 1.5, 4,n,1)
  }

}


.sec-img-svg-2 {
  .item { 
    text-align: center; display: block; 
    background-color: #F5F4F4; border-radius: 8px;
    padding: 40px 10px;

    &:hover {
      .title { color: $cl1;}
    }




  }
  .img {
    margin-bottom: 5px; 
    img { height: 46px;}
  }
  .title { text-transform: uppercase; margin-bottom: 0;}


}


.sec-img-svg-3 {
  .item { 
    text-align: center; display: block; height: 100%; box-shadow:  0 2px 18px 0 rgba(0,0,0,0.2);
    background-color: $cl1; color: #fff; border-radius: 8px;
    padding: 15px;

  }
  .img {
    margin-bottom: 15px; 
    img { height: 150px;}
  }
  .title { text-transform: uppercase; margin-bottom: 15px;}
  .desc {    font-weight: 300; }

  @include min1200 {
    .item { padding: 30px;}
  }

}


.sec-img-svg-4 {
  .item { 
    display: block;  position: relative;
    background-color: #F5F4F4; border-radius: 8px;
    padding: 40px 10px 40px 80px;
    &:hover {
      .title { color: $cl1;}
    }
  }
  .img {
    position: absolute; @include middleY; left: 20px;
    img { height: 46px; display: block;}
  }
  .title {   margin-bottom: 0; font-size: 20px;}
}



.sec-tigia {
  .divtigia {
      border: 1px solid #ECECEC; background-color: #fff; padding: 15px;
  }
  .table { 
    width: 100%;
    th,td {  text-align: center;}

    th {   color: #333333;   font-size: 18px;  font-weight: 600; line-height: 22px;  }    
    tr {
      &>:first-child  { 
        text-align: left;
        img { margin-right: 5px; position: relative; top: 2px;}
      }
      &>:last-child  { text-align: right;}

    }
  }
  .divquidoi {
    background-color: #F6F6F6; padding: 15px; height: 100%;

    .input-group {
      width: 100%; margin: 5px 0 20px;
      .input-group-addon { padding: 0;}
      select { border-color: #D6D6D6; border-right: none; border-radius: 8px 0 0 8px; height: 40px;}
      input  { width: 100%; border-color: #D6D6D6;  border-radius: 0 8px  8px 0;  height: 40px;}
    }
  }

  @include min992 {
    .divtigia { padding: 25px;}
    .divquidoi { padding: 30px 50px; }
  }
}




.menuicon {
   text-align: center;

  .item { 
    display: inline-block;  width: 132px;  margin:5px; vertical-align: text-bottom;

    &:hover, &.active {  
      .link {  
        background-color: $cl4; 
      }
    }  
    &.active {
      .link:after { display: block; }
    }  
  }
  .link { 
    display: block;  height: 120px; border-radius: 8px; background-color: #FFFFFF;  box-shadow: 0 2px 10px 0 rgba(20,30,210,0.1);
    padding: 10px 10px 0; text-align: center; color: $cl1; position: relative; 
    .img {     
      padding: 5px 0;
      img { max-height: 46px; }
    }
    .title { font-size: 12px;  font-weight: 600; @include flex; width: 100%; height: 40px; line-height: normal;}   

    &:after {
      @include arrow(b,10px,10px,$cl4);  position: absolute; bottom: 0; left: 50%; @include translate(-50%,100%);display: none;
    } 

  }
  &.owl-carousel {
    margin:0 -10px 40px; 
    .item { margin: 10px !important; display: block; width: auto;}
    // .link {  
    //    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    // }  
  }
}

.line1 { @include fixrow(1); }
.line2 { @include fixrow(2); }
.line3 { @include fixrow(3); }
.line4 { @include fixrow(4); }
.line5 { @include fixrow(5); }

.list-1 {
  .item { color: #fff;  border-radius: 8px; display: block;  box-shadow: 0 2px 35px 0 rgba(0,0,0,0.09); height: 100%;}
  [class*=tRes] {
    &:before {
      min-height: 100%;     box-sizing: border-box; background: url('../images/shadow-2.svg') repeat-x bottom center;
    }
  }
  .divtext {
    position: absolute; bottom: 0; left: 0; right: 0; padding: 20px; z-index: 3;
    .date { color: #fff;}
    .title { margin: 0;  text-transform: uppercase;}
  }
}

.list-1-1 {
  .item { color: #fff;  border-radius: 8px;  display: block;  box-shadow: 0 2px 35px 0 rgba(0,0,0,0.09);}
  .divtext {
    left: 0; padding: 20px; z-index: 3;   max-width: 255px;
    @include middleY;
    .title { margin: 0; font-size: 20px;}
  }
}  




.list-5 {
  .item {  
    height: 100%;  border-radius: 8px; background-color: #FFFFFF;   box-shadow: 0 2px 35px 0 rgba(0,0,0,0.09); overflow: hidden; display: block;
    .divtext { padding: 25px;}
    .title {  margin: 0 0 10px; color: $cl1;    }
    .desc {       }
    &:hover {
      .title { color: $cl2; }
    }

  }  
  &.owl-carousel {
    .item {  
      margin: 10px !important; box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    }  
  }
  &-1 {
    .more {
      display: block; padding-top: 30px;
      &:hover { color: $cl2}
    }
  }
}




.list-6 {
  .item {  
    border-radius: 4px; background-color: #FFFFFF;  box-shadow: 0 1px 17px 0 rgba(0,0,0,0.08);  position: relative;   overflow: hidden;     min-height: 130px;
    .title { margin: 0; color: $cl1; margin: 0;  @extend .tss;  }
    &:hover {
      .title { color: $cl2; }
    }
    &+.item { margin-top: 25px;}
  }  
}

.list-6-1 {
  .item {  
    position: relative;   overflow: hidden;     min-height: 148px;
    .title {   color: $cl1; margin: 0 0 10px;  @extend .tss;  }
    &:hover {
      .title { color: $cl2; }
    }
    .img { border-radius: 8px; } 
    .divtext {
      padding: 0 25px; vertical-align: top;
    }
    &+.item { margin-top: 25px;}
  }  
}



.list-7 {
  .item {  
    border-radius: 4px; background-color: #FFFFFF;  box-shadow: 0 1px 17px 0 rgba(0,0,0,0.08);  position: relative;   overflow: hidden; min-height: 200px; 

    .img { width: 45%;  }
    .title { margin: 0; color: $cl1; margin-bottom: 10px;    }
    &:hover {
      .title { color: $cl2; }
    }
    &+.item { margin-top: 25px;}
  }  
}


.list-8 {
  .item {  
    height: 100%;  border-radius: 8px; background-color: #FFFFFF;   box-shadow: 0 2px 35px 0 rgba(0,0,0,0.09); overflow: hidden; display: block;
    padding: 25px; text-align: center;
    .img { margin-bottom: 20px;}
    .divtext { }
    .title {  margin: 0 0 10px; color: $cl1; text-transform: uppercase;    }
    .desc {       }
    &:hover {
      .title { color: $cl2; }
    }

  }  
  &.owl-carousel {
    .item {  
      margin: 10px !important; box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    }  
  }
}

.list-9 {
  .item {  
    height: 100%; padding: 15px;  border-radius: 6px; background-color: #FFFFFF;   box-shadow: 0 2px 35px 0 rgba(0,0,0,0.09); overflow: hidden; display: block;
    border-top:3px solid $cl1; display: block;
    .img {
      @include flex; height: 60px; margin-bottom: 20px;
      img {     object-fit: contain; width: auto; height: auto;}
    }
    .desc {       }


  }  
  &.owl-flex {
    .owl-stage-outer { padding: 10px 0; }
    .item {  
      margin:0 10px !important; box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    }  
  }

  @include min992 {
    .item {  padding: 25px;}
  }
}

// .list-10 {
//   .item {
//     background-repeat: no-repeat; background-size: cover; border-radius: 8px;
//   }
//   .divtext {
//     z-index: 3; padding: 20px; position: absolute; bottom: 0; left: 0;
    
    
//   }
//   .title { margin: 0; color: #fff; line-height: normal; }
//   .item-2 {
//     .title { color: $cl1; } 
//   }
//   @include min1200 {
//     .title { font-size: 50px;}
//   }
//   @include max575 {
//     .divtext { padding-left: 5px; padding-bottom: 5px;}
//     .title { font-size: 100%;}
//   }

// }



.list-10 {
  .item {
    border-radius: 8px; overflow: hidden;  color: #fff;
    &:hover { color: $cl1;}
  }
  .item-1 { background-color: #B5A6F9; }
  .item-2 { background-color: #A0D1FF; }

  .divtext {
    z-index: 3; padding: 20px; position: absolute; bottom: 0; left: 0; right: 0;
    i {
      position: absolute; right: 20px; bottom: 20px; font-size: 40px;
    }    
    
  }
  .title { margin: 0;  line-height: normal; font-size:30px  }  



  @include min992 {
    .title { font-size: 50px;}
  }
  @include min768max991 {
    .title { font-size: 40px;}
  }  

  @include max767 {
    .divtext i {     font-size: 30px;}
  } 

  @include max575 {
    .divtext { padding-left: 5px; padding-bottom: 5px;}
  }  
}

.list-12 {
  .item {  
    height: 100%; display: block; text-align: center;
    .img {
      margin-bottom: 20px; height: 210px; 
      img { height: 100%; width: 100%; object-fit: contain;}
    }
    .divtext {  }
    .title {  text-transform: uppercase; padding-top: 5px; }
    .desc {       }
    &:hover {
      .title { color: $cl2; }
    }

  }  

}



ul.list-download { 
  li {  
    display: inline-table; width: 100%; margin-bottom:  20px; padding: 10px 0;
    &>* {   display: table-cell;    vertical-align: middle;}
    .title { 
      font-size: 16px; font-weight: 600; color: $cl1;
      padding-left: 30px; position: relative;
      i { font-size: 24px; @include middleY; left: 0;}
    }
    .data { width: 70px; color: #ABABAB;}
    .down { 
      width: 50px; text-align: right;
      a { 
        display: inline-block; height: 32px; width: 32px;  border: 1px solid $cl1; color: $cl1; text-align: center; line-height: 30px; border-radius: 100%;
        &:hover { border-color: $cl2; color: $cl2;} 
      } 
    }

    @include min1200 {
      .data { width: 100px; }
      .down { width: 150px; }
    }
  }
}





.list-11 {
  .item {  
    height: 100%;  border-radius: 8px; background-color: #FFFFFF;   box-shadow: 0 2px 35px 0 rgba(0,0,0,0.09); overflow: hidden; display: block;
    padding: 20px;

      .ic {
          text-align: right;
          color: #E0E0E0;
          font-size: 33px;
          height: 20px;
          position: relative;
          i { position: absolute; right: 0; top: 0;}
      }    

    .inline-table {  margin-bottom: 15px;  }
    .img {  border-radius: 100%; overflow: hidden; width: 80px;  }
    .title {    margin: 0; color: #333333;    }

  } 

  &.owl-carousel {
    &.owl-flex .owl-stage-outer {
        padding: 10px 0;
    }

    .item {  
      margin:0 10px !important; 
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    }  
  }


}