/* RESET 
-------------------------------------------------*/
body {
  color: #333333; font-family: $font1; font-size: 14px;  line-height: 1.52857143;  

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit; font-weight: 600;   margin-bottom: 20px;  
}

h1,.h1 { font-size: 32px; line-height: 1.4; text-transform: uppercase; font-weight: 700;}  
h2,.h2 { font-size: 24px; text-transform: uppercase;}  
h3,.h3 { font-size: 18px;  }
h4,.h4 { font-size: 16px;}
h5,.h5 { font-size: 16px;}
h6,.h6 { font-size: 16px;}  

[class*="max"] {
  margin-left: auto; margin-right: auto; 
}
.max500 {
  max-width: 500px; 
}
.max555 {
  max-width: 555px; 
}
.max600 {
  max-width: 600px; 
}
.max750 {
  max-width: 750px; 
}
.max950 {
  max-width: 950px; 
}

.radius-8 { border-radius: 8px; }

.section-header {}
textarea.input {
	padding-top: 10px; padding-bottom: 10px; height: 100px;
}
.entry-content {
  //p, .p { margin-bottom: 20px; }
  ul,ol { 
    margin:0 0 20px 25px;
    li { margin-bottom: 5px;} 
    ul {
      margin-bottom: 0;
      li:first-child { margin-top: 5px;}
      &.none { list-style: none; margin: 0;}
    }
  }
  img { height: auto;}
  a:not(.btn) {
    color: $color1;
  }
}

.mb-15 { margin-bottom: 15px;}


ul.menu {
  margin: 0; padding: 0; list-style: none;
  li { display: block; position: relative;}
  a {display: block;}
  a:hover { color: $color1;}
  &.line {
    &>li { 
      display: inline-block;
      &>a { padding: 0 10px; }   
      &:not(:first-child){
        margin-left: 5px;  padding-left: 10px;
        &:before {
          content: "";   width: 1px; height: 14px;  background-color: #333; @include middleY; left: 0;
        }
      }
    }
  }
}


[class*="imeta"] {
  display: block; vertical-align: bottom;   margin-bottom: 5px;
  &>span{
    display: inline-block; position: relative;
    &:not(:first-child){
      padding-left: 16px;
      &:before {
        content: ""; width: 1px; height: 12px; left: 7px;        @include middleY;
        background-color: #A6A6A6;
      }
    }
  }
}



.dropdown     {  
            @extend %dropdown;        // extend/extend
  & >.content   {   @extend %sub-1;             }   // extend/sub
}



/* END RESET */


@import "../layout/header"; 

@import "block";   


.btn { 
  min-width: 130px;      letter-spacing: 1px;
  &.radius-8 { border-radius: 8px;}
} 
.btn-2:not(:hover)  { background-color: transparent; border-color: #fff; color: #fff;}
.btn-3:not(:hover)  { background-color: #EB2E4A; border: 1px solid #EB2E4A}

@include max767 {
  .btn { height: 28px; line-height: 26px; font-size: 10px; font-weight: 600;}
}

//@import "wp"; 

body.home {
  h2.ht { 
    @include min1200 { font-size: 32px;   }
  }
} 



//Heading

.page-title { text-align: center; color: $color1; margin-bottom: 50px; } 



.entry-head {
  margin-bottom: 40px; position: relative;
  .viewall { 
    text-transform: uppercase; color: $cl1; font-weight: 600; @include middleY; right: 0;
    @include min992 { font-size: 16px;}
    &:hover { color: $cl2;}


  }



  @include min576 {
    
  }
  // @include max575 {
  //   .viewall { margin-top: -15px;    display: block;}
  // }

}
.entry-head-2 {
  margin-bottom: 30px;  border-left: 5px solid $color1; padding-left: 15px;   position: relative;
  overflow: hidden;
  .ht {  color: inherit; margin: 0;  float: left; margin-right:30px;}
  .ht2 { font-size: 18px; }

  .nav-style-1 {
    @include middleY; right: 0;
  }
  &:after { 
    display: block; height: 30px;  content: ""; overflow: hidden; border-bottom:1px solid #EDEDED;
  }
}

.entry-head-3 {
  margin-bottom: 30px;position: relative;  overflow: hidden;
  .ht {     margin: 0 0 10px; color: $cl5;     padding-right: 200px;}
  .ht2 { font-size: 18px; font-weight: 300; color: $cl1; float: left; margin-right:30px;}

  .nav-style-1 {
    @include middleY; right: 0;
  }
  &:after { 
    display: block; height: 25px;  content: ""; overflow: hidden; border-bottom:1px solid #EDEDED;
  }
}

.divsocial {
  .item {
    display: inline-block; width: 30px; height: 30px; border: 1px solid #fff; border-radius: 100%; @extend .tss; text-align: center;
    line-height: 28px; margin-left: 10px;   
    &:hover {
      border-color: $color1;
    }
  }
}



// THEME
//.bg-gray {  background-color: #F5F4F4;}
.bg-gray {  background-color: #FAFAFA;}
.bg-gray-2 {  background-color: #FAFAFA;}
.date {   color: #A6A6A6; margin-bottom: 5px; font-size: 11px;}


.banner-img-1 {
  img { display: block; margin: 0 auto}
}

.banner-heading-1 {
  overflow: hidden;     position: relative;
  .container { 
    height:380px; 
    &.height2 { height: 470px; }
  }
  .divtext {
    z-index: 3;
    left: 15px; @include middleY;  max-width: 650px; font-size: 18px;  font-weight: 600;
    right: 15px;
    h1 { 
      font-weight: 700; text-transform: capitalize;   color: $cl1; line-height: normal; margin-bottom: 10px;
    }    
    &.top35 {
      top: 35%;
    }

    &.width2 {
      max-width: 455px;
    }
  }  

  img { 
   &.br,.tr  { max-width: 50%; max-height: 100%;} 
  }

  @include min992 {
    h1 {  font-size: 42px; }
    .divtext { font-size: 22px; }
    &.home {
      h1 {  font-size: 48px;   }
    }
  }

  @include max767 {
    .container { height:200px; }
    h1 {  font-size: 20px; margin: 0 0 10px; }
    .divtext { font-size: 13px; }
  }  

  &-2 {
    background-color: #0F04D6; color: #fff;
    .divtext h1 { color: inherit;}
  }
}

.banner-heading-2 {
  overflow: hidden;     position: relative;
  [class*=tRes] { 
    max-height:380px;
    &:before { min-height:380px; box-sizing: border-box;} 
  } 
  .container { @include absolute; z-index: 3; }
  .divtext {
    h1 { 
      font-weight: 700; text-transform: capitalize; font-size: 42px;
      &.fs48 { font-size: 48px;  }
    }
    left: 15px; @include middleY; width: 100%; max-width: 650px; font-size: 22px; color: $cl1; font-weight: 600;
  }  
}

.banner-heading-3 { 
  overflow: hidden;     position: relative;
  .container { display: table;}
  .divtext {
    display: table-cell; vertical-align: middle; height: 300px; padding: 50px 0; text-align: center;
    h1 { color: $cl1; font-weight: 700; text-transform: capitalize;  }
  }  
}


.sec-h-2 {

  .list-2 { 

    .item { 
      display: block;  height: 100%; border-radius: 8px; background-color: #FFFFFF;  box-shadow:  0 2px 18px 0 rgba(0,0,0,0.02);
      padding: 25px 20px;  color: $cl1; height: 100%;
      .img {     
        margin-bottom: 15px;
        img { height: 76px; }
      }
 
      .title { color: $cl1;   text-transform: uppercase;  margin-bottom: 10px;}


    }
    .item-2 {
      border-radius: 7.76px;  background-color: #A0D1FF;      
      .btn { 
        line-height: 43px; height: 43px; display: block; text-align: left; padding-left: 60px;
            text-transform: capitalize;

        &:not(:hover) { background-color: #6182e7; border-color: #6182e7;}

        i { @include middleY; left: 25px; font-size: 22px;} 
        &+.btn { margin-top: 15px; }
      }
    }

    @include max575 {
      .item { 
        box-shadow:  0 2px 10px 0 rgba(0,0,0,0.02);   padding: 10px;  
        .img {     
          img { height: 36px; }
        }
        .title {  margin-bottom: 5px; font-size: 14px;}
        .desc {  }
      }

      .item-2 {
        .btn { 
          line-height: 25px; height: 27px; padding:0  10px; text-transform: capitalize; min-width: inherit;
          i { display: none;} 
          &+.btn { margin-top: 10px; }
        }
      }


    }
  }
}



.widget-default { 
  overflow: hidden; border-radius: 8px; background-color: #FFFFFF;  box-shadow: 0 0 23px 0 rgba(20,30,210,0.06); height: 100%;
  .widget-title{  
    padding:5px;    color: #333333;   background-color: #E0F0FF; text-align: center; margin: 0; text-transform: uppercase;  
    @include flex; height: 60px; line-height: normal;
  }
  .widget-content {      
    padding:15px; font-size: 14px;    
    p { margin-bottom: 10px;}
  }
   @include min992 {
    .widget-content {        padding:30px ;       }
  } 
}


.table-full {
  background-color: #F8F8F8;   border-radius: 8px;    font-size: 14px; overflow: hidden; min-width: 600px;
  margin-bottom: 40px;
  th, td {
    padding: 10px;   vertical-align: middle;
  }  
  th { 
    background-color: #E0F0FF;  color: #333333;   font-size: 16px; text-align: center; height: 70px;
    &:nth-child(2) { max-width: 300px;} 
  }  
  td { 
    height: 90px; border-top: 2px solid #fff;
    &:not(:first-child) {
    border-left: 2px solid #fff; 
    }    
  }
}
.table-responsive {
  overflow-x:auto 
}

.b-tl-1,
.b-tl-2,
.sec-hstt,
.sec-pav,
.sec-cskh,
.sec-tuvan,
.sec-cauhoi, 
.b-tl-3
{
  font-size: 16px;
}

.sec-h-4 {
  .row { height: 100%; }

  @include max767 {
    .list-5.row {
      &>div:first-child { margin-bottom: 30px;}
    }
  }
}



.cols-2 {
    column-count: 2;
    column-gap :10px;
}
.cols-3 {
    column-count: 3;
    column-gap :10px;
}



.owl-carousel .owl-nav>*{
  border:1px solid $cl1; color: $cl1; font-size: 14px; width: 42px; height: 42px; line-height: 40px; border-radius: 100%;
  &:hover { color: $cl2; border-color: $cl2;}
}

ul.link2 {
  margin:0 0 25px 25px;
  li { 
    color: $cl1; font-size: 16px; margin-bottom: 10px;
    &:hover { color: #36475D;}
  }
}



.form-tuvan {
  .input {
    width: 100%; margin-bottom: 15px;
  }
}




.boxwidget {
  box-shadow: 0 0 23px 0 rgba(20,30,210,0.06);  padding: 15px;
  background-color: #fff; border-radius: 8px; overflow: hidden; 
  .widget-title { border-bottom: 1px solid #ddd; padding-bottom: 10px;  }
  @include min1200 {
    padding: 25px; 
  }
}

.boxwidget-2 {  
  background-color: #F4F3F3;  border-radius: 8px; padding: 15px;
  @include min1200 {
    padding: 25px; 
  }  
}

.sec-ab-1 {
  .boxwidget { margin-bottom: 30px;}
}

// Sidebar
.widget-tuvan {
  box-shadow: 0 0 23px 0 rgba(20,30,210,0.06);   padding:10px 15px;
  background-color: #fff; border-radius: 8px; overflow: hidden; height: 100%;

  .widget-title  {   text-transform: uppercase;    }

  textarea.input { height: 60px;}

  @include min992 {
    padding:25px 40px;
  }

}

.sec-menu___ {  
  background-color: #F9F9F9; padding-top: 20px;
  ul {
    overflow: hidden; 
    li { 
      display: inline-block; position: relative;
      &.active {
        a { font-weight: 600;}
        a:after { content: ""}
      }
    }
    a {  
      color: #333333;  font-size: 16px;  text-align: center; padding: 0 10px; @include flex; height: 55px;      line-height: normal;

      &:after {
        position: absolute;        bottom: 0;        left: 0;        right: 0;        height: 4px;        background-color: $cl4;        
      }
      &:hover { color: $cl4;}
    }

    @include min1200 {
      a { width: 180px;}
    }
  }




}



.sec-menu {  
  background-color: #F9F9F9; padding-top: 20px;
  padding: 20px 15px 0;
  .container { padding: 0; overflow-y: hidden; overflow-x: auto;}
  ul {
    overflow: hidden; display: table;
    li { 
      display: table-cell;     white-space: nowrap;  position: relative;
      &.active {
        a { font-weight: 600;}
        a:after { content: ""}
      }
    }
    a {  
      color: #333333;  font-size: 16px;  text-align: center; padding: 0 10px; @include flex; height: 55px;      line-height: normal;

      &:after {
        position: absolute;        bottom: 0;        left: 0;        right: 0;        height: 4px;        background-color: $cl4;        
      }
      &:hover { color: $cl4;}
    }

    @include min1200 {
      a { min-width: 180px;}
    }
  }
}




ul.page-numbers {

 .page-numbers.next, .page-numbers.prev {
   &:not(:hover) {color: $color1; border-color: $color1;} 
 }
  @include max767 { 
    .page-numbers {
        width: 30px;
        height: 30px;
        line-height: 28px;
    }
  } 
}


.box-download-2 {
  .row > div { position: relative;}
  .list-download {
    max-height: 500px;  padding-right: 20px;
    @include min992 {
      height: 100%; overflow: auto; position: absolute; left: 15px; right: 15px; 
    }
    li {  margin-bottom: 5px; }
  }
  @include min1200 {
    padding: 50px;
  }  
}

.next-shadow {
  & + section, & + main {
    &:before {
      content: ""; position: absolute; left: 0; right: 0; height: 36px; background: url('../images/shadow.png') repeat-x top center; top: 0; 
    }

  }

}



/*
News detail
--------------------------------------------------------------*/
.page-news-detail {
  padding-top: 30px;
  .top-heading {
    padding: 30px 0;   border-bottom: 1px solid #D6D6D6;  position: relative; margin-bottom: 40px;

    .date {   margin: 0; }
    .blog-item-social {  right: 0; @include middleY;}

  }
}
.tags {
  .tag { 
    line-height: 30px;  border: 1px solid #BABABA;  border-radius: 16px; padding: 0 20px; color: #BABABA; display: inline-block; margin:0 10px 10px 0;
    &:hover { color: $cl1; border-color: $cl1;}

  }
}


.cl7 { color: $cl7;}


/*
Category
--------------------------------------------------------------*/

.filter-category {
  .select { height: 48px; width: 260px; font-size: 16px;}
}


.cttab-v3 {

  .tab-menu {
    margin-bottom:30px; list-style: none;    overflow: hidden; position: relative; display: table; width: 100%;
    border-radius: 8px 8px 0 0;

    &>div { 
      display: table-cell !important; vertical-align: middle;   height: 55px;   width:25%;   padding: 10px;
      text-align: center;    cursor: pointer;  
      position: relative;

      background-color: rgba(224,240,255,0.5);
      color: #141ED2; font-size: 12px;  font-weight: 600;

      span {opacity: 0.5;  }

      &:after {
         height: 2px; position: absolute; bottom: 0; left:0; right: 0; background-color: $cl1;
      }

      &:hover { 
         color: $color1;
      }
      &.active {
        background-color: #E0F0FF; color: $cl1; 
        span {opacity: 1;  }
        &:after {  content: "";   }        
      }
    }   

  }


}

.sec-cong-cu-1 {




  .irs-single { display: none !important;}

  .group-range-prcie + .group-range-prcie { margin-top: 30px;}

  .gtitle {
    overflow: hidden;     margin-bottom: 10px;
    .title {
      float: left;
      color: #333333;
      font-size: 16px;
      font-weight: 600;
    }
    .title2 {
      color: #333333; float: right;
      .price {
        color: #141ED2;
        font-size: 18px;
        font-weight: 600;
        border:none; background-color: transparent; width: auto; padding: 0; text-align: right;
      }
    }    

  }

  .note {
    color: #BABABA; padding: 15px 0;
    font-size: 14px;
  }  

  .result {
    
    border-radius: 8px; height: 100%;
    background-color: #F6F6F6; position: relative;

    .divtext {  padding:20px;}

    @include min768 {
      .divtext { @include middleY; left: 0; right: 0; padding:20px 30px;}
    }

    

    .total {
      color: $cl1;
      font-size: 32px;
      font-weight: bold;
    }
  }


}


body {
  .irs--flat .irs-bar,
  .irs--flat .irs-handle>i:first-child,
  .irs--flat .irs-handle {
    background-color:  $cl1;
  }

  .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {    background-color:  #333;   }
  .irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {    border-top-color: #333;  }  

  .irs--flat .irs-bar,
  .irs--flat .irs-line {
      height: 3px;
  }  

  .irs--flat .irs-handle {
    border-radius: 100%;
    top: 15px;
    width: 22px;
    height: 22px;
    border: 3px solid #fff;
    i {display: none !important;}
  }


}



.cttab-v4 {
  .tab-menu {
    margin:0 0 40px;  text-align: center;
    &>div { 
      cursor: pointer;  
      position: relative;
      display: inline-block;   vertical-align: middle; margin: 0 10px;
   
      span { @include flex; height: 60px; background-color: #fff;  border: 1px solid #979797;  border-radius: 30px;   color: #333333;
        font-size: 18px; width: 250px;
        line-height: 22px; padding: 10px 30px;}
      &:hover { 
         color: $color1;
      }
      &.active {
        span { background-color:$cl1; color:#fff; border-color: $cl1; }
      }
    }   

  }
}



.sec-blog-2 {
  .item-banner {
    border-radius: 8px; background-color: #FFFFFF;   box-shadow: 0 2px 35px 0 rgba(0,0,0,0.09); overflow: hidden;
  }
  @include min992 {
    .item-banner {   height: calc(100% - 30px);  }
  }
}

[class*=tRes] {
  &.video {
    &:after {
      content: ""; background: url('../images/svg/play.svg') no-repeat center; z-index: 3;
      @include  absolute;

      @include max767 {
        background-size: 25px;
      }
    }
    &.cl {
      &:after {
        background-color: rgba(#141ED2,0.32);
      }
    }
  }
}


.r_f_1_3 {
  @include fixHeightCss(3,1,14px, 1.5)
}


.form-contact {
  label.block {
    .title { display: block; margin-bottom: 5px;}
    .input, .select { width: 100%;}
  }
}

.widget-contact {
  border-radius: 8px; height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 2px 26px 0 rgba(0,0,0,0.08); padding: 15px;

  .widget-title { }
  h3 { color: $cl1; margin-bottom: 10px;}


  @include min1200 {
    padding: 30px;
    h3 {     margin-top: 30px; }
    .phone { font-weight: 600; font-size: 18px;}
  }



}

.page-lien-he {
  @include max767 {
    iframe { height: 300px; margin-top: 30px; display: block;}
  }
}
label.radio { line-height: 24px;}


.ajax-content-map {
    padding: 15px;
    position: relative;


  ul.menu {  
    margin-bottom: 15px;
    li { 
      position: relative;
      &.active {
        .item { font-weight: 600;}
        .item:after { content: ""}
      }
    }
    .item {  
      color: #333333;  font-size: 16px;  text-align: center; padding: 15px 5px;    line-height: normal;      display: block; cursor: pointer;
      &:after {
        position: absolute;        bottom: 0;        left: 0;        right: 0;        height: 4px;        background-color: $cl4;        
      }
      &:hover { color: $cl4;}
    }


  }
  @include min768 {
    padding: 0;     
    top: 50px;
    position: absolute;
    bottom: 0;
    left: 50px;
    right: 50px;    
  }
  @include min768max991 {
    top: 15px;
    left: 15px;
    right: 15px;    
  }


}

.map-list-store {

  overflow: auto;
  .item {
    cursor: pointer;
    .title {
       color: #A0D1FF; margin-bottom: 5px;
      &:before { 
        content: ""; width: 15px; height: 15px; border-radius: 100%; display: inline-block; background-color: #A0D1FF;
        position: relative;    margin-right: 5px;    top: 2px;
      }
    }
    .address { margin-bottom: 5px;}

    &.color-2{
      .title {  color: #B4A5FA; }
      .title:before { background-color: #B4A5FA; }
    }
    &.color-3{
      .title  {   color: #9CE6C6; }
      .title:before { background-color: #9CE6C6; }
    }

  }

  @include min768 {
  position: absolute;left: 0;    right: 0;  bottom: 20px;  top: 300px;     
  }

  @include max767 {
    max-height: 300px;
  }
}

.page-diem-atm {
  #map {
    height: calc(100vh - 120px); 
  }
  @include max767 {
    #map {
      height: 300px; 
    }    
  }
}





.form-search-focus {
  position: relative;  background: #F3F3F3; border-radius: 10px; 
  input { 
    width: 48px; height: 48px; position: relative; z-index: 2;  border:none; background-color:transparent;    display: block;
    padding-left: 20px; width: 100%;
    @extend .tss;

    @include min1200  {
       opacity: 1;  padding-right: 48px; 
      & ~ button { z-index: 3; }
    }
    @include max1199  {
      &:focus {
         opacity: 1;  padding-right: 48px; 
        & ~ button { z-index: 3; }
      }
    }

  }
  button { 
    position: absolute; top: 0; right: 0; width: 48px;  height: 100%; border:none; background: none; 
    text-align: center;    font-size: 16px; cursor: pointer;
  }



  //@include placeholder(#fff);   
}




select.selectpicker { opacity: 0 }

.bootstrap-select {
  position: relative;

  &>select { @include none; } 
  &>.dropdown-toggle {
    display: block; width: 100%; padding:0; height: auto;
    border:0; background:none; position: relative; font-family: inherit; font-size: inherit;
    font-weight: inherit; line-height: inherit; text-align: inherit;    border-radius: 0; color: inherit;

    .filter-option-inner-inner {
      font-size: 13px;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #E4E7EC;
      height: 44px;
      padding: 0 30px 0 15px; line-height: 42px; text-transform: initial;
      &:before {
        content: ""; @include middleY; right: 10px;
        @include arrow(bottom,6px,6px,#333);
      }

    } 
  }



  div.dropdown-menu {
    position: absolute; 
    display: none; 
    


    @if($select_drop_size!=n){
      font-size: $select_drop_size;
    }
    @if($select_drop_radius!=n){
      border-radius: $select_drop_radius;
    }
    @if($select_drop_bg!=n){
      background-color: $select_drop_bg;
    }
    @if($select_drop_border!=n){
      border:$select_drop_border solid $select_drop_border_color;
    }
    @if($select_drop_pd!=n){
      padding:$select_drop_pd;
    }
    @if($select_drop_color!=n){
      color: $select_drop_color
    }
    @if($select_drop_minwidth!=n){
      min-width: $select_drop_minwidth
    }
    @if($select_drop_shadow!=n){
      box-shadow: $select_drop_shadow
    }


    @if($select_drop_arrow == 1){
      overflow: visible !important; 
      margin-top:$select_drop_arrow_1;
      &:before,&:after {  
        position: absolute;    top: 0; transform: translateY(-100%);
        @if($select_drop_arrow_positon==left){
          left: $select_drop_arrow_mg;
        }@else{
          right: $select_drop_arrow_mg;
        }
      }
      
      &:before {
        margin-top: -1px; 
        @include arrow(t,$select_drop_arrow_1,$select_drop_arrow_2,$select_drop_arrow_bg_color);
      }  
      &:after {
        @include arrow(t,$select_drop_arrow_1,$select_drop_arrow_2,$select_drop_bg);

      }
    }




  }

  // Inupt search
  .bs-searchbox {
    display: block; position: relative; 
    @if($select_search_bg!=n){
      background-color: $select_search_bg;
    }    
    @if($select_search_pd!=n){
      padding:$select_search_pd;
    }
    @if($select_search_mg!=n){
      margin:$select_search_mg;
    }


    input { 
      width: 100%; padding: 0 30px 0 10px; position: relative; border:1px solid #ddd; height: 30px; font-size: 14px;  
    }
    &:before { font-family: 'icomoon' !important;  content: "\e941";  @include middleY;  right: 10px;    font-size: 14px;    z-index: 2;    }

    & ~ .bs-actionsbox { padding-top: 0 !important }
  }

  // action


  .bs-actionsbox {
    @if($select_search_pd!=n){
      padding:$select_search_pd;
    }    
    .btn-block {
      overflow: hidden; 
      @if($select_search_mg!=n){
        margin:$select_search_mg;
      }

    }
    .btn {
      padding: 5px 0;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
      height: auto; width: 50%;border:1px solid #ddd;
      background-color: #fff; float: left; 
      color: #333; text-transform: inherit;
      &:first-child:not(:last-child):not(.dropdown-toggle) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
      }

      &:last-child:not(:first-child), &.dropdown-toggle:not(:first-child) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;     border-left: 0;
      }


    }
  }

  // List item
  ul.dropdown-menu {
    list-style: none; margin:0; padding:0;
    li { 
      display: block; 
      & + li { margin-top: 1px; }
      &:hover,&.selected {     background-color: #f5f5f5; }
    }
    a { 
      display: block; position: relative; 
      padding:6px 15px;
      span.check-mark {
        display: none;
          font-family: 'icomoon' !important;     
          @include middleY; right: 15px;
          &:before { content: "\e947"; } 
      }

      &.selected {
        span.check-mark {display: block;}
        
      }

     

    }
    
  }

  &.open { z-index: 100; }

  .open > .dropdown-menu,
  &.open > .dropdown-menu {  
      display: block !important;
  }


} // End select


/* Login */
.page-login {
  #panel {
    text-align: right; display: block !important;
    .row { 
      display: block; float: right;
      &>div { float: left;}
    }
    ul.menu.line { display: inline-block;}
  }
  #main {
    &>.container { min-height: calc(100vh - 40px); padding-top: 20px; }
    .img {
      img { display: block; max-height: 550px;}
    }
  }
}

.form-login {
  border-radius: 8px;   background-color: #FFFFFF;  box-shadow: 0 2px 26px 0 rgba(0,0,0,0.08); padding: 15px;  
  max-width: 360px;     z-index: 10;    position: relative; margin: 0 auto 30px; 
 
  .heading { text-align: center;}

  .logo { img { height: 40px; }}

  .title { font-size: 18px; color: #333333; margin-bottom: 0; text-transform: uppercase; }
  .desc { font-weight: 600; color: #BFBFBF;   margin-bottom: 20px;}
  .input { width: 100%; margin-bottom: 15px;}
  .btn { width: 100%; margin-bottom: 15px; height: 50px; }

  .wcaptchar {
    padding-right: 130px; position: relative;
    .captchar { position: absolute; right: 0; top: 0; height: 40px; width: 120px;}
  }

  ul {
    list-style: none;
    a { 
      display: block; color: $cl1;
      &:hover { color: #333333;}
    }
  }

  @include min1200 {
    padding: 35px;
  }
}



#footer-login {
    background: url('../images/shadow-3.png') repeat-x bottom center;
    color: #fff; min-height: 219px; padding-top: 10px; z-index: 5;

    .menu {
      margin-bottom: 25px;
      &>div {
        &:not(:first-child) {
          &:before {content: ""; background-color: #fff; height: 50px; width: 1px; @include middleY; left: 0; opacity: 0.5;}
        }
      }
      a { 
        font-size: 16px; font-weight: 600;  border-radius: 100px;  color: $cl1;
        @include flex; position: relative;  
        justify-content: left;

        height: 48px;
        padding-left: 40px;
        padding-right: 0;
        //line-height: normal;

        i { @include middleY; left: 0; font-size: 30px;}

      }
    }
   .copyright {
     padding: 25px 0; border-top : 1px solid #DADADA; position: relative;
   }


  .blog-item-social {
    

   @include min768 {
    @include  middleY; right: 0;

   }    

    a:not(:hover) {
      border-color:  #fff;
      color: #fff;
    }

  } 

  @include max767 {
    .copyright { text-align: center;}
    .blog-item-social { margin-top: 15px;}
  }


    @include min992 {
    .menu {
      &>div {
        @include min992 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;          
        }

      }
      a { 
        color: #fff; 
        height: 72px;
        padding-left: 95px;
        padding-right: 20px;
        i {  left: 35px; font-size: 50px;}


                &:hover { color: $cl1; background-color: #fff;}
      }
    }       
    }


}


@include min992 {
  .page-login {
    #main {
      &>.container {    padding-bottom: 140px;}
    }
    .img {
      position: absolute;    bottom: 72px;    left: 0; max-width: 70%;
      img { display: block; left: 0; }
    }

    .form-login { float: right; }
  }

  #footer-login { position: absolute; bottom: 0; left: 0; right: 0; padding-top: 50px;}
}

.sec-dt-1  {
  
  .img  {padding: 20px 0;}
  &:before { background-color: #fff;}
}

.sec-dt-2 {
  .boxwidget { height: 100%;}
  .list-download {
    max-height: 300px;     overflow: auto;
  }
}

.widget-ndt {
  background-color: #F9F9F9; overflow: hidden; border-radius: 8px;  box-shadow: 0 2px 26px 0 rgba(0,0,0,0.08); padding: 15px; height: 100%;
  font-size: 16px;

  .numbs {
    color: #39C689; position: relative; padding-right: 70px;
    .t1 { font-size: 42px; font-weight: 700;}
    .t2 { font-size: 18px; @include middleY; right: 0; width: 70px; font-weight: 600; }
  }

  .desc {  color: #A6A6A6; border-bottom: 1px solid #A6A6A6; padding-bottom: 10px; }
  ul.list {
    list-style: none;
    li { overflow: hidden; line-height: 22px; margin-top: 20px;}
    .t1 { float: left; }
    .t2 { float: right; font-size: 18px;}
    .t3 { color: #A6A6A6}

  }


  @include min1200 {
    padding: 25px;
  } 
}

blockquote {
  font-weight: 600; padding-left: 40px; font-size: 18px;
  &:before {
    font-family: 'icomoon' !important; content: "\e959"; color: #E0E0E0;
    position: absolute; top: 0; left: 0; font-size: 24px;
  }

  @include min992 { 
    font-size: 22px;   padding-left: 60px;
    &:before {
      font-size: 40px;
    }    
  }
}


.tRes_132:before {
    padding-top: 132%;
}
.tRes_25:before {
    padding-top: 25%;
}


.sec-ab-3 {
  .item {
    border-radius: 8px; overflow: hidden; position: relative; 
    img { display: block;}


    &-5 { margin-bottom: 30px; height: auto; }
    &-6 {   height: auto; }


  }

  @include max575 {
    .item { max-width: 265px; margin-left:auto; margin-right:auto}
  }

}


.searchform { 
  position: relative;   width: 100%;     overflow: hidden;
  //@include placeholder(#fff);   
  .textinput {  
    padding:0 40px 0 15px; height: 100%;   z-index: 2;    width: 100%;    background-color: transparent;    border: none;    @include absolute;
  }
  button { 
    position: absolute; right: 0; height: 100%; top: 0; width: 35px; cursor: pointer; text-align: center; background-color: transparent; border:none; font-size: 15px;

  }
  &.focus {
    button { z-index: 3; color: $color1;}
  }
  &-hidden {
    background-color: $color1; padding: 0;   width: auto; display: inline-block; border-radius: 50px;
    button { z-index: 1 !important; color: #fff !important  }
    .textinput { 
      width: 35px; height: 35px; position: relative; padding-left: 15px; opacity: 0;    @extend .tss; padding-right: 0; color: #fff;
        &:focus {width: 250px; opacity: 1;  padding-right: 35px; }
    }
    &.focus  {
      button {color: $color2 !important;}
      .textinput:focus ~ button {
        z-index: 3 !important;
      }       
    }    
  }
}

.table-bieuphi {
  tr>th:first-child { width: 60px;}
  tr>th:nth-child(2) { width: 34%;}
  tr>th:nth-child(3) { width: 20%;}
  tr>th:nth-child(4) { width: 20%;}

  tr>td:first-child {  text-align: center;}
}


.list-menu-middle,
.mauto {
  margin: 0 auto;
}

.item-inline-table {
  display: inline-table;  width: 100%;
  .img {  
    width: 40%; display: table-cell;   vertical-align: middle; position: relative;
    img { object-fit: cover; display: block; width: 100%; height: 100%; @include absolute ;  }
  }  
  .divtext { padding: 15px 25px;   display: table-cell;   width: 100%;     vertical-align: middle;}
}

.inline-table {
  display: inline-table;  width: 100%;
  .ctext {  
    width: 30px; display: table-cell;   vertical-align: middle; position: relative; white-space: nowrap;
    &:first-child { padding-right: 20px;}
    &:last-child { padding-left: 20px;}
  }  
  .c100 { display: table-cell;   width: 100%;     vertical-align: middle;}
}

$cl10:#E0F0FF;

.timeline {
  position: relative; margin-bottom: 40px;
  &:before {  content: ""; width: 5px;  background-color: $cl10; top: 0; bottom: 0;     position: absolute; }  
  .item {
    position: relative; overflow: hidden;
    .circle {
      width: 22px; height: 22px; background-color: $cl10; border-radius: 100%; position: absolute; top: 26px;
      &:after { content: ""; width: 80px; height: 5px; @include middleY; background-color: $cl10;}
    }
    .title { color: $cl1;}
    .divtext { padding: 20px 0;}
    .row {
      &>div { position: relative;}
    }
    &:first-child {
      .circle {
        &:before { content: ""; width: 7px; height: 500px; bottom: 100%; @include middleX; background-color: #fff;}
      }      
    }
    &:last-child {
      .circle {
        &:before { content: ""; width: 7px; height: 500px; top: 100%; @include middleX; background-color: #fff;}
      }      
    }
  }

  @include min992 {
    .row {
      margin-left: -120px;
      margin-right: -120px;
      & > [class*="col-"] {
        padding-left: 120px;
        padding-right: 120px;
      }      
    }    
  }
  @include min768max991 {
    .row {
      margin-left: -60px;
      margin-right: -60px;
      & > [class*="col-"] {
        padding-left: 60px;
        padding-right: 60px;
      }      
    }    
    .item .circle { 
      &:after { width: 30px; }
    }    
  }
  @include min768 {
    &:before {  @include middleX;    } 
    .item-1 .circle {
      left: 0; @include translateX(-50%);
      &:after { left: 100%; margin-left: 5px;}
    }    
    .item-2 .circle {
        right: 0; @include translateX(50%);
        &:after { right: 100%; margin-right: 5px;}        
    } 
  }

  @include max767 {
    &:before { left: 7px; width: 3px; }  
    .item { 
      padding-left: 50px; margin-bottom: 30px;
      .circle {
        width: 14px;    height: 14px;     top: 30px;   left: -44px;  @include translateX(0);
        &:after {  width: 20px; height: 3px;  left: 100%;margin-left: 5px; }
      }      
    }
  }

}

ul.menu-top-header > li.highlight {
  margin-left: 20px;

  &> a {
      color: #fff;
      background-color: #B5A6F9;
      &:hover {
        color:$cl1;
        background-color: #A0D1FF;      

      }
  }

}

.sec-ab-2-5 {

  .row-logo {
    .divtext { padding: 20px 0;}
    @include min1200 {
    .img img{ max-width: inherit;}
    }
  }
}

.lanhdaoModal {
  .logo {
    
    border-bottom: 1px solid #DDDDDD; text-align: center;
    padding-bottom: 20px; margin-bottom: 40px;
    img { max-height: 58px; }

  }
  .title { color: $cl1; margin-bottom: 10px;}

  @include min992 {
    .contentModal {padding: 40px;}
  }
}


.sec-ab-4 {
  .row>div { margin-bottom: 20px;}
  .item {
    border-radius: 8px; overflow: hidden;  position: relative; font-size: 24px; text-transform: uppercase; color: #fff; font-weight: 600;
    line-height: normal;
  }
  .divtext {
    position: absolute; bottom: 0; left: 0; right: 0; z-index: 3; padding: 15px;
  }
  .t1 { font-size: 50px; white-space: nowrap;}
  .t2 { margin-top: 10px;}
  .t3 { font-size: 20px;}



  @include min1200 {
    .item-1 {
      .t1 { font-size: 72px;}
      .img { max-height: 328px;}
    }
  }

  @include min768max1199 {
    .item-1 {
      .img { max-height: 273px;}
      .t1 { font-size: 50px;}
    }
    .item { font-size: 19px; }
    .t1 { font-size: 40px; }
    .t3 { font-size: 17px;}    
  }

  @include min576max767 {
    // .item-1 {
    //   .img { max-height: 273px;}
    // }
  }

  @include max767 {
    .img { max-height: 240px;}
    .item-1 {
      .t1 { font-size: 40px;}
    }
    .item { font-size: 17px; }
    .t1 { font-size: 32px; }
    .t2 br { display: none;}
    .t3 { font-size: 15px;}    
  }


}



.tab-menu.style2 { 
  &>div { 
    span { 
      display: inline-block; position: relative; padding-left: 30px; font-size: 18px; font-weight: 600;
      &:before {
        content: ""; width: 10px; height: 10px; border-radius: 100%;
        background-color: #F3F3F3; border:5px solid #F3F3F3; @include middleY; left: 0;
      }
    }
    &:hover { 
       color: $color1;
    }
    &.active {
      span { 
        &:before {background-color:$cl1;   }
      }
    }
  }   
}



.form-vay-von {
  &>.row {
    margin-bottom: 15px;
  }


  .inner {
    border:1px solid rgba(#D6D6D6,0.7); border-radius: 8px; padding: 20px; height: 100%;
  }

  ::-webkit-input-placeholder { /* Edge */
    font-size: 14px; color: #BABABA; font-weight: normal;
  }
  :-ms-input-placeholder { /* Internet Explorer */
    font-size: 14px; color: #BABABA; font-weight: normal;
  }
  ::placeholder {
    font-size: 14px; color: #BABABA; font-weight: normal;
  }  

  .inner {
    
    .row {
      margin-bottom: 15px;
      @include min768 {
        &>div:last-child { text-align: right;}
        .title {     
          padding-top: 8px; 
          .note { font-size: 12px;}
        }
      }
    }
  }

  .title {
    overflow: hidden;     margin-bottom: 10px; display: block;    color: #333333;     line-height: normal;    
  }
  .note { color: #BABABA; font-weight: normal; }
  .price { font-size: 12px; color: #BABABA;  background-color: rgba(#D6D6D6,0.7);border-radius: 4px; display: inline-block; line-height: 24px; padding: 0 5px; }
  .input  { width: 100%; margin-bottom: 10px; font-size: 18px; color: $cl1; font-weight: 600;}
  .select { width: 100%; }

  .result {
    border-radius: 8px; height: 100%; padding:40px 20px 20px ;
    background-color: #F6F6F6; position: relative; line-height: 26px;


    .row {
      margin-bottom: 15px; 
      @include min768 {
        &>div:last-child { text-align: right;}
      }
    }
    .title { margin: 0;}

    .t2 { font-size: 24px; font-weight: 600; color: $cl1;}
    .t4 { font-size: 18px; font-weight: 600; color: $cl1;}
    .t5 {  font-weight: 600; color: $cl1; text-transform: uppercase;}

    .total { padding-top: 30px; }
  }
  .btn { width: 100%; max-width: 280px; line-height: 50px; height: 50px;}


}








