.blog-item-social {
	line-height: 32px; list-style: none;
	li { display: inline-block; margin: 0 4px 4px;}
	a { 
		display: block; border:1px solid $cl1; border-radius: 100%; line-height: 28px; text-align: center; 
		color: $cl1;
		width: 30px; height: 30px;
		&:hover { border-color: $cl2; color: $cl2;}
	}


}

.sec-cta {
	background-color: #F1FFF9;
	.container { padding: 0;}

	.row { 
		&>div {
			&:nth-child(2) { background-color: #E0F0FF}
			&:last-child { 
				position: relative;
				&:before {
					height: 100%; width: 2000px; position: absolute; content: "";
					left: 0; top: 0;background-color: #F2F3FF;
				}
			}
		}
	}

	@include min992 {
		.item {
			display: block; overflow: hidden; position: relative; padding-left: 120px; min-height: 70px; 
			@include flex; height: 150px; justify-content: left;
			.img {
				@include middleY; left: 20px;
				img { display: block; height: 50px;}
			}
			.title { text-transform: uppercase; color: $cl1; margin-bottom: 5px;}
		}
	}
	@include max991 {
		.item {
			display: block; overflow: hidden; position: relative; 			height: 90px;
			text-align: center;
			.img {
				display: block; margin: 14px 0 2px;
				img {   height: 30px;}
			}
			.title { text-transform: uppercase; color: $cl1; margin-bottom: 0; line-height: normal;}
			.desc { display: none;}
		}
	}	
}

.sec-download-pc {
	padding:30px 0 20px; background-color: $cl1; color: #fff; font-size: 16px;

	&:before {
		content: ""; @include middle; background-color: #676EE3; width: 1px; height: 100px;
	}
	.stitle { font-weight: 300;}


	form {
	  display: inline-table;  width: 100%;  max-width: 450px;
	  :first-child {  
	     display: table-cell;   vertical-align: middle;  width: 100%; 
	     .input { width: 100%; border-radius: 10px; margin-right: 10px; height: 45px; } 
	  }  
	  .btn {  display: table-cell;      vertical-align: middle; height: 45px; margin:0 20px;}
	}

	.wapp {
		float: right;   position: relative;
		.code {
			float: right; margin-left: 20px;
		}
		.app { overflow: hidden; }
	}

	@include min1200 {
		.wapp {
			.code {
				margin-right: 20px;
			}
			.app {  padding-right: 30px;}
		}		
	}



}

#footer-pc {
	background-color: #fff; font-size: 13px; padding: 60px 0 30px;  position: relative;
	.widget { margin-bottom: 30px;}
	.widget-info { 
		max-width: 370px; font-size: 14px;
		p { margin-bottom: 15px;}
		.call { 
			font-size: 24px; color: $color1; font-weight: 600;  position: relative; padding-left: 40px;
			i {font-size: 28px; @include middleY; left: 0;}
		}
	}
	.widget-title {
		color: $cl1;   margin-bottom: 20px; font-weight: 600;
	}

	ul.menu:not(.line) {
		li + li { margin-top: 10px;}
	}
	.stitle {
		font-weight: 500; margin-bottom: 10px; color: #1E1E1E;
	}


	div.line {
		background-color: #E9E9E9; height: 1px; margin:0 0 20px;
	}
	.copyright { text-align: right;}
}




.sec-download-mb {
	font-size: 16px;
	.wform {
		background-color: $cl1;  padding:20px; color: #fff;  
	}


	form {
	  display: inline-table;  width: 100%; 
	  :first-child {  
	     display: table-cell;   vertical-align: middle;  width: 100%; 
	     .input { width: 100%; border-radius: 10px; margin-right: 10px; height: 35px; } 
	  }  
	  .btn {  display: table-cell;      vertical-align: middle; height: 35px; margin-left: 20px;}
	}




	.wdownload {
		padding: 20px; 
		&>* { display: inline-block; vertical-align: middle;}
		.stitle { vertical-align: text-bottom; color: $cl1; font-weight: 600;}
	}

	@include max359 {

		.wdownload {
			text-align: center; 
			.stitle {display: block; margin-bottom: 10px;}
		}		

		
	}	

}

#footer-mb {
	background-color: #fff; font-size: 13px; 
	p { margin-bottom: 5px;}
	.widget { margin-bottom: 10px;}
	.widget-info { 
		font-size: 14px;
		.call { 
			overflow: hidden;
			a.phone {
				font-size: 24px; color: $color1; font-weight: 600;  float: left;
				i {font-size: 20px;}
			}
			.blog-item-social  { float: right;}

		}
	}
	.widget-title {
		color: $cl1;   margin-bottom: 20px; font-weight: 500;
	}

	ul.menu:not(.line) {
		li + li { margin-top: 10px;}
	}
	.stitle {
		font-weight: 500; margin-bottom: 10px; color: #1E1E1E;
	}


	div.line {
		background-color: #E9E9E9; height: 1px; margin:30px 0;
	}

	.accodion { margin: 0;}

	.accodion-title {
		text-transform: uppercase; color: #A4A4A4; font-weight: 600; 
		border-top:1px solid #E9E9E9;   padding: 25px 0;
	}
	.accodion-tab {
	    input:checked {
	      + [class*="-title"] { 
	        .triangle  {
	          i:before { content: "\e931"; }
	        }         
	      }
	    }		
	}

	@media only screen and (max-width: 350px){
		.widget-info .call a.phone { font-size: 20px;}
	}


}




.menu-footer-mb {
	background-color: $color1;  color: #fff; bottom: 0; left: 0; right: 0;
	height: 66px; text-align: center;     z-index: 1000;
	.col-3 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 20%;
	    flex: 0 0 20%;
	    max-width: 20%;
	}
	.item {
		display: block;      height: 100%;   padding: 8px 0;
		i { display: inline-block; font-size: 28px; }
		.img { 
			display: block; position: relative; line-height: normal;     margin: 2px 0 7px; height: 26px;
			img { height: 100%;}
		}
		.name { display: block; font-size: 12px;     line-height: normal;}
	}

}




@include max767 { 
	#footer-pc,.sec-download-pc  { display: none;}

	.container {
	    max-width: 100% !important;
	}

}
@include min768 { 
	#footer-mb,.sec-download-mb  { display: none;}
}



.back-top-1 {
  background-color: #fff;  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 100%;   font-size: 14px;
  color:$cl1;cursor:pointer;display:block; height:55px;   width:55px;
  text-align:center;text-decoration:none;  z-index:1040;
  @include translateY(-50%);
  @extend .tss;

  position: absolute; top: 0; right: 30px; padding-top: 8px;

  span { display: block; font-size: 12px; font-weight: 600;}
  &:hover {
    background-color: $cl2; color: #fff;
  }

}