/*Doanh Nghiep Lon*/

.accodion-tab {
    overflow: visible;
}

.accodion-tab>input:checked~[class*="-content"] {
    overflow: visible;
}


/*Nha dau tu*/

blockquote {
    padding-left: 0px;
    padding-top: 60px;
    padding-bottom: 30px;
}

blockquote:before {
    left: 0;
    right: 0;
    text-align: center;
}

h2.chutich {
    position: relative;
}

h2.chutich:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 8px;
    height: 3px;
    background-color: #333;
}


/*The tin dung MB Bank*/

.table-card th:not(:last-child) {
    border-right: 3px solid #fff;
}

.table-card th:first-child {
    width: 30%;
}


/* .table-card th:nth-child(2) {
    width: 20%;
} */

.table-card th:nth-child(3),
.table-card th:nth-child(4) {
    width: 25%;
}

.table-card td {
    text-align: center;
}


/*MB Get More*/

.table-get-more th,
.table-get-more td {
    text-align: center;
}

.table-get-more th {
    width: 33.33%;
}


/*Ti Gia Ngoai Te*/

.search.tigia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.search.tigia .input {
    display: block;
    width: 500px;
    height: 50px;
    line-height: 50px;
    margin: auto;
}

.search.tigia input[type="date"] {
    background: #fff url('../images/svg/calendar-search.svg') 97% 50% no-repeat;
    background-size: 25px;
}

.search.tigia input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.search.tigia input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.search.tigia input[type="date"]::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
}

.table-ti-gia th,
.table-ti-gia td {
    text-align: center;
}

.table-ti-gia th:not(:last-child) {
    border-right: 3px solid #fff;
}

.table-ti-gia th:first-child {
    width: 15%;
}

.table-ti-gia th:nth-child(n+3):nth-child(-n+5) {
    width: 20%;
}


/*Support*/

.flex-bw {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;
    position: relative;
}

.flex-bw .sl {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 20px;
}

.flex-bw .select {
    width: 100%;
}


/*Online Sign Up*/

.mw100 {
    max-width: 100% !important;
}

.p-lr-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pd-15 {
    padding: 15px;
}

.c-white {
    color: #fff !important;
}

.cl8 {
    color: #0B1C2B !important;
}

.bg8 {
    background: #0B1C2B !important;
}

.bg9 {
    background: #6A7780 !important;
}

.bg10 {

    background: #f5f4f4 !important;
}

.bd9 {
    border-color: #6A7780 !important;
}

.bg-1 {
    background: #ececec;
}

.fs22 {
    font-size: 22px;
}

.fs24 {
    font-size: 24px;
}

.fs32 {
    font-size: 32px;
}

.h-lh-50 {
    height: 50px !important;
    line-height: 50px !important;
}

.text-normal {
    text-transform: none !important;
}

.step {
    z-index: 10;
    padding: 5px;
    border-radius: 100%;
    background: #fff;
}

.online-signup .step a {
    display: inline-block;
    padding: 25px 30px;
    background-color: #eff7ff;
    border-radius: 100%;
    color: #7883eb;
    font-size: 24px;
}

.online-signup .step a.active,
.online-signup .step a:hover {
    color: #141ED2;
}

.step-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #eff7ff;
}


/*Doanh Nghiep*/

.cttab-v3.divtigia .tab-menu>div:after {
    width: 50%;
    background-color: #9BE6C8;
    height: 3px;
    bottom: -2px;
}

.sec-tigia .divtigia .tab-menu .tg-tab {
    text-align: left;
    padding-left: 0px;
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6;
}

.sec-tigia .divtigia .tab-menu .tg-tab:first-child {
    width: 15%;
}

.cttab-v3 .tab-menu .tg-tab.active {
    background-color: transparent;
}

.cttab-v3 .tab-menu .tg-tab.active {
    color: #9BE6C8 !important;
}

.care .care-box {
    border-top: 3px solid #141ed2;
    border-radius: 5px;
    padding: 10px 0px;
}

.care .care-box .img-care {
    display: inline-block;
}

/*Ca Nhan - San Pham Noi Bat*/

.table-lai-xuat th,
.table-lai-xuat td {
    text-align: center;
}

.table-lai-xuat th:first-child {
    width: 30%;
    border-right: 3px solid #fff;
}


/*Login Ca Nhan*/

.page-login ul.menu.line>li {
    margin: 0px;
    padding: 0 10px;
}

.page-login .row>div:first-child ul li:not(:last-child):after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 10px;
    background: #333;
    transform: translateY(-50%);
}

.page-login #panel .row>div:first-child a {
    padding: 0px;
    font-weight: 300;
}

.page-login #main .img img {
    max-height: 100%;
}


/*Login Doanh Nghiep*/

.page-login.login-2 #panel {
    background-color: #0e19e4;
    color: #fff;
}

.page-login.login-2 #panel .row>div:first-child {
    background-color: #0e19e4;
}

.page-login.login-2 .row>div:first-child ul li:not(:last-child):after {
    background: #fff;
}

.page-login.login-2 #footer-login {
    background: #1220e4;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    min-height: 0px;
    padding-top: 0px;
}

.page-login #main .img-2 img {
    display: block;
}

/*Survey*/

.page-survey .entry-content {
    padding: 30px 0px;
}

.page-survey p {
    margin-bottom: 10px;
}

.page-survey .form-survey {
    padding: 50px 0px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

.form-survey ul {
    list-style: none;
}

.form-survey .survey-l>li {
    position: relative;
    padding-left: 50px;
}

.form-survey .survey-l li span.num {
    position: absolute;
    left: 0px;
    top: -10px;
    padding: 10px 16px;
    border-radius: 100%;
    background-color: #141ed2;
    color: #fff;
}

.form-survey .survey-l li .rate-l {
    padding: 30px 0px;
}

.form-survey .survey-l li label.radio {
    vertical-align: top;
}

.form-survey .survey-l li .rate-l textarea {
    width: 100%;
}

.form-survey .survey-l li .rate-l textarea.other {
    width: 80%;
}


/*Header Search*/

.form-search-header {
    position: relative;
}

.form-search-header input {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    border: none;
}

.form-search-header input::placeholder {
    color: #BABABA;
}

.form-search-header button {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    border: none;
    background: none;
    text-align: center;
}

#panel #search-sg {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    background-color: #f1f1f1;
    color: #bbb;
    display: none;
    transition: .3s all ease-in-out;
}

#panel #search-sg a#logo {
    display: inline-block;
    vertical-align: text-top;
}

#search-sg .suggest {
    float: right;
    padding-right: 70px;
}

#search-sg .suggest .sg {
    display: flex;
    align-items: center;
}

#search-sg .suggest .sg span {
    margin-right: 20px;
    font-size: 18px;
}

#search-sg .suggest .sg a:hover {
    color: #141ED2;
}

#search-sg .suggest .key a {
    padding: 0 5px;
}

#search-sg .suggest .key a:not(:last-child) {
    border-right: 1px solid #BABABA;
}

#search-sg span.close-sg {
    color: #bababa;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid #bababa;
    position: absolute;
    top: 0px;
    right: 35px;
    transition: .5s all;
}

#search-sg span.close-sg:hover {
    color: #141ED2;
    border-color: #141ED2;
}


ul.menu.line>li button.search-sg {
    border: none;
}

ul.menu.line>li button.search-sg i {
    padding: 5px;
    cursor: pointer;
}

ul.menu.line>li #search {
    border: none;
    width: 70px;
    transition: .5s all ease-in-out;
    -webkit-transition: .5s all ease-in-out;
}

ul.menu.line>li #search::placeholder {
    color: #333;
}

/*Block_4*/

.phone-bl4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 15px;
    background-color: #e8e8e8;
    margin-bottom: 10px;
}

/*Ti Gia - Truy Cap Nhanh*/

.tg-truycapnhanh .btn {
    font-size: 20px;
    height: 60px !important;
    line-height: 60px !important;
    font-weight: normal;
}


/*Priority*/

.active-priority,
.priority:hover {
    background-color: #788A98 !important;
}

.mb-priority .breadcrumbs>.item:not(:last-child):after {
    background-color: #0b1c2b;
}

.other-pd .owl-item {
    display: inline-block;
    background: #f5f4f4;
    padding: 10px 20px;
    border-radius: 15px;
}

/*Search result*/

.fixed-screen {
    overflow: hidden;
    max-height: 100vh;
}

#search-result {
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    display: none;
    background-color: #fff;
}

#top-search-result {
    position: relative;
    padding: 15px 0px;
}

#top-search-result span.close-sg {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

#top-search-result span.close-sg:hover {
    color: #e82e4a;
}

#top-search-result .search-field {
    position: relative;
    margin-top: 20px;
    background: transparent;
}

#top-search-result .search-input-transparent {
    width: 100%;
    line-height: 46px;
    height: 48px;
    padding: 0 5px 0 50px;
    font-size: 2rem;
    border: none;
}

#top-search-result .icon-search-2 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    background: none;
}

#top-search-result .icon-search-2:before {
    font-size: 1.671rem;
}

#top-search-result .btn-clear-text {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    background: none;
}

#top-search-result .btn-clear-text:before {
    padding: 3px 7px;
    border-radius: 100%;
    background-color: #ccc;
    color: #fff;
}

#top-search-result .btn-clear-text:hover:before {
    background-color: #555;
}

.search-result .cttab-v3 .tab-menu {
    margin-bottom: 10px;
    text-align: center;
}

.search-result .cttab-v3 .tab-menu>div {
    display: inline-block !important;
    width: auto;
    height: auto;
}

.search-result .cttab-v3 .tab-menu>div span {
    padding: 0px 40px;
    font-size: 0.933333rem;
}

.search-result [class*="cttab"]>.tab-content>div.active {
    transition: .5s all ease-in-out;
}

.search-result .cttab-v3 .tab-content .total-search p {
    margin-bottom: 0px;
    padding: 2vw 0;
}

.search-result .cttab-v3 .tab-content .total-search .total{
    font-weight: bold;
}

.search-result .cttab-v3 .tab-content .search-item {
    padding-bottom: 2vw;
}

.search-result .cttab-v3 .tab-content .search-item a:hover {
    color:  #141ED2;
}

.search-result .cttab-v3 .tab-content .search-item h3.ctext{
    margin-bottom: 10px;
}

.search-result .cttab-v3 .tab-content .search-item p{
    margin-bottom: 10px;
}

@media only screen and (min-width: 1200px) {
    
    ul.menu-top-header {
        float: none;
        margin-left: 170px;
    }

    ul.menu-top-header.e-banking {
        position: absolute;
        right: 0;
        margin: 0;
    }

    ul.menu-top-header>li.e-banking {
        display: none;
    }
}




/*Media*/

@media only screen and (max-width: 1024px) {
    #search-sg .suggest {
        padding-right: 0px;
    }
}

@media only screen and (min-width: 992px) {
    blockquote {
        max-width: 80%;
        margin: auto;
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    .page-login.login-2 #main>.container {
        padding-bottom: 110px;
    }
    .page-login #main .img-2 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .page-login.login-2 #footer-login {
        position: relative;
    }
}

@media only screen and (min-width: 767px) {
    .form-survey .survey-l li .rate-l textarea.other {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .search.tigia {
        display: block;
    }
    .search.tigia .input {
        width: 100%;
        margin: 10px 0px;
    }
    .online-signup .step a {
        padding: 15px 20px;
        font-size: 20px;
    }
    .form-survey .survey-l li .rate-l textarea.other {
        width: 100%;
    }

    .search-result .cttab-v3 .tab-menu>div {
        display: inline-block !important;
        width: 100%;
    }


    .form-search-hd {
        position: relative;
        overflow: hidden;
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .form-search-hd input {
        width: 100%;
        border: none;
        padding: 10px 0px;
        font-size: 15px;
        color: #000;
        border-bottom: 2px solid #e0e0e0;
    }

    .form-search-hd button.search-sg {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: transparent;
        font-size: 15px;
    }

}