/* The container */
.p-tool1__select1 {
  position: relative;
  margin-bottom: 30px;
}


.p-tool1__select1 .option1 {
  display: inline-block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-tool1__select1 .option1:not(:last-child) { margin-right: 34px; }

/* Hide the browser's default radio button */
.p-tool1__select1 .option1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.p-tool1__select1 .checkmark1 {
  position: absolute;
  /*top: 0;*/
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.p-tool1__select1 .option1:hover input ~ .checkmark1 {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.p-tool1__select1 .option1 input:checked ~ .checkmark1 {
  background-color: #141ED2;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.p-tool1__select1 .checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.p-tool1__select1 .option1 input:checked ~ .checkmark1:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.p-tool1__select1 .option1 .checkmark1:after {
 	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}

.p-tool1__box1 .form1_label1 {
  color: #ccc;
}

.p-tool1__box1 .box1 {
  padding: 30px 30px;
  border-radius: 10px;
  border: 1px solid #BABABA;
}
