.mb-toolbar-range-sllider .rangeslider__handle{width:0;height:0;border-left:11px solid transparent;border-right:11px solid transparent;border-top:15px solid #141ed2;border-radius:0;background:0 0;top:-27px;}
.rangeslider,.rangeslider__fill{position:relative;}
.rangeslider,.rangeslider__fill{background-color:transparent;display:block;height:0.7142857143em;width:100%;}
.rangeslider--disabled{filter:alpha(Opacity=40);opacity:0.4;}
.rangeslider__fill__new{position:absolute;height:0.7142857143em;margin-left:40px;background:#ddd;width:100%;border-radius:0.5em;}
.rangeslider__handle{
    background:#141ed2;cursor:pointer;display:inline-block;width:5.7142857143em;height:2.1428571429em;
    top:-20px;border-radius:1.4285714286em;position:relative;
}

.mb-toolbar-range-sllider .rangeslider__handle{
    width:16px;height:16px;
    border: 0;
    background: #141ed2;
    border-radius: 50%;top:-8px;
}
.mb-toolbar-range-sllider .arrow-left-1,.mb-toolbar-range-sllider .arrow-left-2,.mb-toolbar-range-sllider .arrow-right-1,.mb-toolbar-range-sllider .arrow-right-2{border:none;width:1px;height:1px;background:#000;}
.mb-toolbar-range-sllider .arrow-right-2{display:none;}
.mb-toolbar-range-sllider .arrow-left-1{left:0;top:1px;right:auto;}
.mb-toolbar-range-sllider .arrow-left-2{left:0;top:3px;right:auto;}
.mb-toolbar-range-sllider .arrow-right-1{left:0;top:5px;right:auto;}
.mb-toolbar-range-sllider .rangeslider__fill__new{border-radius:0;margin-left:11px;
    height:3px;background:#e1e4e9;width:calc(100% - 23px)!important;max-width:100%;
}
.mb-toolbar-range-sllider .range-container .min-max-value .max-value,.mb-toolbar-range-sllider .range-container .min-max-value .min-value{font-size:14px;}
.mb-toolbar-range-sllider .range-container .min-max-value .min-value{left:11px;top:10px;}
.mb-toolbar-range-sllider .range-container .min-max-value .max-value{right:11px;top:10px;}
.rangeslider__fill,.mb-toolbar-range-sllider .rangeslider{height:3px;}
.mb-toolbar-range-sllider{width:66.67%;float:left;padding:0 4px;padding-top:25px;}
.mb-toolbar-range-sllider02{height:60px;width:100%;float:left;padding:0 4px;padding-top:25px;}
.mb-toolbar-range-sllider .rangeslider__fill{background:#141ed2;margin-left:11px;}


.result-calculation{
    text-align: center;
}
.result-calculation .price{
    color: #141ED2; font-size: 18px; display: block;
}

.menu-item.disabled,
.showResult.disabled {
    pointer-events: none;
    cursor: default;
    opacity: .5;
}

.vay-xe .g-title{
    color: #333333;
    font-size: 16px;
    font-weight: 600;
}

.vay-xe .range-container, .vay-xe .range-container .min-max-value {
    width: 100%;
    position: relative;
}

.vay-xe .range-container .min-max-value .max-value, 
.vay-xe .range-container .min-max-value .min-value {
    position: absolute;
    font-size: 14px;
    top: -30px;
    padding: 1px 3px;
    color: #999;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    background-color: #e1e4e9;
    border-radius: 4px;
}

.vay-xe .range-container .min-max-value .min-value{
    left: 11px;
}

.vay-xe .range-container .min-max-value .max-value{
    right: 11px;
}
.vay-xe .group-line{
    overflow: hidden; margin-bottom: 20px;
}

.vay-xe .line-v2-row-result-calc {
    font-size: 16px;
    color: #5e5e5e;
    margin-bottom: 20px;
}

.vay-xe .tbl-list-repayment{
    width: 100%;
    border-collapse: collapse;
    border: none;
}
.vay-xe .tbl-list-repayment th{
    text-transform: uppercase;
}
.vay-xe .tbl-list-repayment td,
.vay-xe .tbl-list-repayment th{
    /* padding: 5px 7px; */
    text-align: center;
}