//ama-alo
$ama_size : 60px;
$ama_top : 45%;
$ama_position : left; // left - right 
$ama_space : 50px;
$ama_color : $color1; 
$ama_fs : 22px; 

$ama_size_child : $ama_size + 40px;
$ama_size_child_space :10px;
$ama_size_child_2 : $ama_size_child - $ama_size_child_space*2;
$ama_size_child_3 : $ama_size_child_2 - $ama_size_child_space*2;
$ama_size_child_4 : $ama_size_child_3 - $ama_size_child_space*2;

	$ama_t_h : 40px;
	$ama_t_radius : 5px;
	$ama_t_space : 90%;
	$ama_t_color : #fff; 
	$ama_t_bg : $color3; 
	$ama_t_shadow : -2px 2px 5px rgba(0, 0, 0, 0.5); 


$fb_index : 110;
$fb_position: right; // left - right
$fb_w : 300px;
$fb_h : 50px;   
$fb_space : 120px;  





